@mixin fullwidth() {
	body.fullwidth & {
		@content;
	}
}

@mixin header_white() {
	body.header_white & {
		@content;
	}
}

.body {

	&__wrap {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: nowrap;
		flex-direction: column;
	}

	&__container {
		width: 100%;
		flex: 1;
	}

	&__content_wrap {
		width: 100%;
		height: 100%;
	}

	&__content {
		width: 100%;
		flex: 1 1 auto;
		padding: 50px 0 55px;

		@include fullwidth {
			padding: 0;
		}
	}

	&__flex {
		@include mobile {
			flex-direction: column;
		}
	}
}