.cards {
	$cards_root: &;

	&__wrap {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 20px);
		margin-left: -10px;
	}

	&__item {
		flex: 1 1 100%;
		max-width: 20%;
		padding: 0 10px;
		margin-bottom: 20px;

		@include min_desktop_extra_small {
			&:nth-last-child(1),
			&:nth-last-child(2),
			&:nth-last-child(3),
			&:nth-last-child(4),
			&:nth-last-child(5) {
				margin-bottom: 0;
			}
		}

		@include mobile {
			max-width: 100%;
		}
	}

}