.columns {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	$columns_root: &;

	&.with_padding {
		width: calc(100% + 20px);
		margin-left: -10px;
	}

	&.dir_col {
		flex-direction: column;
	}

	&.align_center {
		align-items: center;
	}

	&.flex_wrap {
		flex-wrap: wrap;
	}
	
	&__item {
		flex: 1;

		@at-root #{$columns_root}.with_padding & {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}