@mixin container() {
	max-width: 1512px;
	padding: 0 40px;
	margin: 0 auto;

	@media (max-width: 1512px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	// @include tablet_small {
	// 	padding: 0 20px;
	// }

	// @include mobile {
	// 	padding: 0 18px;
	// }

	// @include mobile_small {
	// 	padding: 0 10px;
	// }
}

@mixin container_header() {
	margin: 0 auto;

	@include min_tablet() {
		padding: 0 20px;
	
		@include min_desktop {
			max-width: 1440px;
		}
	}
}


.container {
	@include container();
}

.container_header {
	@include container_header();
}