.default {

	&__section {

	}

	&__title {
		font-size: 30px;
		line-height: 37px;
		font-weight: bold;
		margin-bottom: 30px;

		&.mb_min {
			margin-bottom: 15px;
		}
	}

	&__subtitle {
		font-size: 24px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	
}