// colors
$color_black: rgba(35, 31, 32, 0.9);
$color_blue: #1D498E;
$color_red: #FF8B4C;
$color_red_brighter: #F58243;

$base_color_text: $color_black;
$color_background: #F4F4F4;

// fonts
$font_default: 'Roboto', sans-serif;
$font_second: "Gilroy", Arial;

$font_regular: 'sf_regular';
$font_light: 'sf_light';
$font_italic: 'sf_regular';
$font_medium: 'sf_medium';
$font_bold: 'sf_bold';
$font_black: 'sf_bold';
$font_thin: 'sf_light';


// sizes
$font_size: 16px;
$line_height: 26px;