@charset "UTF-8";


// elements
@mixin hidden() {
	.hidden {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}
}
@mixin checkbox() {
	.checkbox {
		$item: &;
	
		position: relative;
		cursor: pointer;
		display: inline-block;
		text-align: left;
		
		input {
			opacity: 0;
			position: absolute;
		}
	
		&__span {
			display: inline-block;
			width: 16px;
			height: 16px;
			background-color: #ffffff;
			border-radius: 2px;
			border: 1px solid #959595;
			margin-top: 0;
			vertical-align: middle;
			vertical-align: top;
			position: absolute;
			left: 0;
	
			@at-root #{$item} input:checked + & {
				background-image: url('/i/checkmark.svg');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	
		&__text {
			padding-left: 21px;
			display: inline-block;
			font-weight: 400;
			font-size: 13px;
			line-height: 15px;
			color: #000000;
			position: relative;
			vertical-align: top;
	
			a {
				color: #11548d;
				border-color: rgba(17, 84, 141, 0.3);
			}
		}
		
	}
}
@mixin radio() {
	.radio {
		$item: &;
	
		display: block;
		position: relative;
		cursor: pointer;
		text-align: left;
		margin-bottom: 8px;
		
		input {
			opacity: 0;
			position: absolute;
		}
	
		&__span {
			width: 14px;
			height: 14px;
			border-radius: 8px;
			border: 1px solid #9b9b9b;
			background-color: #ffffff;
			display: inline-block;
			vertical-align: top;
			position: absolute;
			left: 0;
			top: 2px;
	
			@at-root #{$item} input:checked + &:before {
				content: "";
				display: block;
				width: 6px;
				height: 6px;
				background-color: #9b9b9b;
				border-radius: 6px;
				position: absolute;
				left: 3px;
				top: 3px;
			}
		}
	
		&__text {
			padding-left: 18px;
			display: inline-block;
			font-size: 15px;
			line-height: 18px;
			position: relative;
			vertical-align: top;
		}
	
	}
}
@mixin tabs() {
	.tabs_wrap {
		display: block;
		width: 100%;
		position: relative;
		margin-bottom: 40px;
	
		.tabs_container {
			display: block;
			position: relative;
	
			&__item {
				display: none;
				position: relative;
	
				&.active {
					display: block;
				}
			}
		}
	}
}
@mixin autoheight_block() {
	.autoheight_block {
		$block: &;
	
		max-height: 150px;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
	
		&.all {
			max-height: 10000px;
		}
		&:not(.all):before {
			content: "";
			width: 100%;
			height: 40px;
			background: -moz-linear-gradient(top, rgba(249, 249, 249,0) 0%, rgba(249, 249, 249,1) 100%);
			background: -webkit-linear-gradient(top, rgba(249, 249, 249,0) 0%,rgba(249, 249, 249,1) 100%);
			background: linear-gradient(to bottom, rgba(249, 249, 249,0) 0%,rgba(249, 249, 249,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=0 );
			position: absolute;
			left: 0;
			bottom: 0;
			opacity: 1;
			transition: max-height 0.2s ease-in-out;
		}
	
		&__show_more {
			margin-top: 25px;
			font-size: 14px;
			line-height: 16px;
			border-bottom-style: dashed;
			position: relative;
	
			&:before {
				content: "Развернуть";
				display: inline-block;
				vertical-align: middle;
	
				#{$block}.all + & {
					content: "Свернуть";
				}
			}
		}
		
		&__show_more:after {
			content: "";
			display: inline-block;
			width: 5px;
			height: 10px;
			background-image: url(/i/arrow-right-small.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			vertical-align: middle;
			position: absolute;
			top: 8px;
			right: -13px;
			transform: rotate(90deg);
			transition: all 0.2s ease-in-out;
	
			#{$block}.all + & {
				transform: rotate(-90deg);
			}
		}
		
	}
}
@mixin doc() {
	.doc {
		display: inline-block;
		width: 200px;
		min-height: 40px;
		font-family: 'sf_regular';
		font-weight: 400;
		line-height: 18px;
		border-bottom: none;
		padding: 0 20px 0 40px;
		margin-bottom: 20px;
		position: relative;
		vertical-align: top;

		&.big {
			padding-left: 65px;
		}
	
		&:before {
			content: '';
			display: inline-block;
			width: 30px;
			height: 40px;
			line-height: 18px;
			background-image: url(/i/download_icons.png);
			background-size: auto 63px;
			background-position: -157px 0;
			position: absolute;
			top: 2px;
			left: 0;
		}
			&[href$=".xls"]:before,
			&[href$=".xlsx"]:before {
				background-position: 0 0;
			}
			&[href$=".doc"]:before,
			&[href$=".docx"]:before,
			&[href$=".rtf"]:before {
				background-position: -31px 0;
			}
			&[href$=".rar"]:before,
			&[href$=".zip"]:before,
			&[href$=".7z"]:before {
				background-position: -94px 0;
			}
			&[href$=".jpg"]:before,
			&[href$=".jpeg"]:before,
			&[href$=".png"]:before,
			&[href$=".gif"]:before {
				background-position: -126px 0;
			}
			&[href$=".pdf"]:before {
				background-position: -63px 0;
			}
	
		&.big:before {
			width: 50px;
			height: 64px;
			background-size: auto 103px;
		}
			&[href$=".xls"].big:before,
			&[href$=".xlsx"].big:before {
				background-position: 0 0;
			}
			&[href$=".doc"].big:before,
			&[href$=".docx"].big:before,
			&[href$=".rtf"].big:before {
				background-position: -50px 0;
			}
			&[href$=".rar"].big:before,
			&[href$=".zip"].big:before,
			&[href$=".7z"].big:before {
				background-position: -153px 0;
			}
			&[href$=".jpg"].big:before,
			&[href$=".jpeg"].big:before,
			&[href$=".png"].big:before,
			&[href$=".gif"].big:before {
				background-position: -205px 0;
			}
			&[href$=".pdf"].big:before {
				background-position: -102px 0;
			}

		&_wrap {
			display: block;
		}	
	
		&_title {
			font-size: 13px;
			line-height: 19px;
			color: #103386;
			border-bottom: 1px solid rgba(16, 51, 134, 0.3);
		}
	
		&_size {
			display: block;
			font-size: 12px;
			line-height: 12px;
			color: #9b9b9b;
			margin-top: 5px;
		}
	}
}
@mixin beauty_field() {
	.beauty_field {
		&_wrap {
			display: inline-block;
			width: 100%;
			position: relative;
	
			textarea {
				display: block;
				width: 100%;
				height: 135px;
				border-color: #cdcdcd;
				border-radius: 2px;
				padding: 26px 10px 12px !important;
			}
		
			input[type="text"] {
				width: 100%;
				height: auto;
				border-color: #cdcdcd;
				border-radius: 2px;
				padding: 26px 10px 12px !important;
			}
		}

		&__info {
			display: inline-block;
			position: absolute;
			font-size: 10px;
			line-height: 12px;
			font-weight: 400;
			color: rgba(0, 0, 0, 0.38);
			left: 10px;
			top: 9px;
		}
	}
}
@mixin select_wrap() {
	.select_wrap {
		display: inline-block;
		position: relative;

		select {
			height: 30px;
			font-size: 13px;
			line-height: 13px;
			background-color: transparent;
			padding: 3px 25px 3px 10px;
			border-color: #aab4b7;
			-webkit-appearance: none;
		}
		
		&:before {
			content: "";
			display: inline-block;
			width: 11px;
			height: 6px;
			background-image: url(/i/arrow-small-bottom.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 10px;
			top: 12px;
		}
	}
}
@mixin popup() {
	.popup {
		display: flex;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.3);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 330;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		
		&.show {
			visibility: visible;
			opacity: 1;
			
			& + .body_wrapper {
				-webkit-filter: blur(2px);
				filter: blur(2px);
			}
		}
		
		&_wrap {
			display: inline-block;
			position: relative;
			text-align: center;
			margin-bottom: 8vh;
		}
	
		&_close {
			display: inline-block;
			width: 24px;
			height: 24px;
			background-image: url(/i/cross-grey.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			z-index: 10;
		}
	
		&_item {
			display: none;
			width: 100%;
			max-width: 600px;
			text-align: left;
			background-color: #ffffff;
			border-radius: 4px;
			padding: 50px 40px;
	
			&.active {
				display: inline-block;
			}

			&__title {
				font-size: 20px;
				line-height: 36px;
			}

			&__btn {

				&_wrap {
					display: block;
					text-align: center;
					margin-top: 20px;
				}
			}
		}
	}
	
	body.popup_open {
		overflow-y: hidden;

		.body_wrap {
			@include filter(blur(2px));
		}
	}
}
@mixin counter() {
	.counter {
		display: inline-block;
		width: 110px;
		height: 35px;
		white-space: nowrap;
		border-radius: 4px;
		vertical-align: middle;

		&:before,
		&:after {
			content: '';
			display: block;
			position: relative;
			clear: both;
		}
		
		&_btn {
			height: 100% !important;
			width: 30%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: transparent;
			border: none !important;
			outline: none;
			padding: 0 !important;
			cursor: pointer;
			float: left;
			transition: background-color 0.1s ease-in-out;
	
			&.minus {
				background-image: url(/i/www/counter-minus.svg);
			}
	
			&.plus {
				background-image: url(/i/www/counter-plus.svg);
			}
	
			&[disabled="disabled"] {
				opacity: 0.5;
				cursor: default;
			}
		}
	
		&_val {
			height: 100% !important;
			width: 40%;
			text-align: center;
			font-size: 17px;
			background-color: transparent;
			border: none !important;
			border-radius: 0 !important;
			outline: none;
			padding: 0 !important;
			float: left;
			color: #434A58;
	
			&[disabled="disabled"] {
				opacity: 0.5;
				cursor: default;
			}
		}

	}
}
@mixin atma() {
	.atma {
		display: inline-block;
		width: 190px;
		text-align: left;
		padding-left: 72px;
		position: relative;
	
		&_text {
			font-size: 10px;
			line-height: 12px;
			color: #ffffff;
		}
	
		&_link {
			color: #ffffff;
	
			&:before {
				content: "";
				display: inline-block;
				width: 65px;
				height: 22px;
				background-image: url('/i/logo-atma-white.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				left: 0;
				top: -4px;
			}
		}
	}
}
@mixin breadcrumbs() {
	.breadcrumbs {
		display: block;
		position: relative;
		margin-top: 20px;
	
		> * {
			font-size: 15px;
			line-height: 18px;
			color: #4a4a4a;
			border-bottom: none;
			margin-right: 6px;
			position: relative;
	
			&:after {
				content: "/";
				display: inline;
				opacity: 0.4;
				margin-left: 7px;
			}
		}
	}
}
@mixin add_to_cart() {
	.add_to_cart {
		font-size: 13px;
		line-height: 13px;
		font-family: 'sf_bold';
		white-space: nowrap;
		padding: 11px 15px;
	
		&:before {
			content: "В корзину";
			display: inline-block;
		}
		&.added {
			padding: 9px 13px;
			border: 2px solid $yellow !important;
			background-color: transparent;
	
			&:before {
				content: "В корзине";
				display: inline-block;
			}
		}
		&.disabled {
			opacity: 0.5;
			cursor: default !important;
		}
	}
}
@mixin pagination() {
	.pagination {
		> * {
			display: inline-block;
			vertical-align: middle;
			color: #9b9b9b;
			border-bottom: none;
			margin: 0 20px 0 0;
	
			&.active {
				color: #870707;
			}
	
			&.disabled {
				opacity: 0.6;
				cursor: default;
			}
		}
	}
}
@mixin ftext($font_size: 15px, $line_height: 25px) {
	.ftext {
		max-width: 750px;
		font-size: $font_size;
		line-height: $line_height;
	
		&.center {
			margin: 0 auto;
		}

		&.small {
			font-size: 15px;
			line-height: 25px;
		}
	
		p {
			font-size: $font_size;
			line-height: $line_height;
		}
	
		h2 {
			font-size: $font_size * 1.5;
			line-height: $font_size * 2;
			font-weight: normal;
			color: #363636;
			margin-top: 25px;
			margin-bottom: 5px;
		}

		h4 {
			font-size: $font_size * 1.2;
			line-height: $font_size * 1.5;
			margin-top: 15px;
			margin-bottom: 10px;
		}
	
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
	
			li {
				font-size: $font_size;
				line-height: $line_height;
				position: relative;
				padding-left: 15px;
				margin-bottom: 5px;
	
				&:before {
					content: "-";
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	
		img {
			max-width: 100%;
		}

		blockquote {
			font-size: 20px;
			line-height: 30px;
			font-style: italic;
			padding: 13px 0 17px 25px;
			border-left: 6px solid red;
			margin: 35px 0;
			position: relative;

			&:before,
			&:after {
				content: "";
				display: inline-block;
				width: 6px;
				height: 6px;
				background-color: red;
				border-radius: 6px;
				position: absolute;
				left: -6px;
			}
				&:before {
					top: -3px;
				}
				&:after {
					bottom: -3px;
				}
		}

		table{
			border: 1px solid #d4d5d5;
			border-right: 0;
			border-top: 0;
			border-spacing: 0;
			max-width: 100%;
		}

		thead{
			td{
				font-family: $font_medium;
			}
		}

		td{
			border: 1px solid #d4d5d5;
			border-left: 0;
			border-bottom: 0;
		}
	}
}
@mixin upload_btn {
	.upload_btn {
		&_wrap {
			text-align: right;
			margin-top: 10px;
			margin-bottom: 50px;
			position: relative;
		}

		&_input {
			position: absolute;
			cursor: pointer;
			margin-left: -105px;
			opacity: 0;
			visibility: visible;
			z-index: 9;
		}

		&_btn {
			display: inline-block;
			color: #728287;
			position: relative;
			padding-left: 19px;

			&:before {
				content: '';
				display: inline-block;
				width: 13px;
				height: 13px;
				background-image: url('/i/shape.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				left: 0;
				top: 2px;
			}
		}
	}
}
@mixin fotorama_overlay() {
	.fotorama_overlay {
		display: none;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.7);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 2000;

		&__close {
			display: inline-block;
			font-size: 60px;
			line-height: 50px;
			font-family: arial;
			color: #fff;
			position: absolute;
			top: 30px;
			right: 40px;
			z-index: 1000;
			opacity: 0.5;
			cursor: pointer;
		}
	}
}

@mixin btn($name, $color, $color_text, $color_hover: $color, $color_text_hover: $color_text, $opacity_on_hover: 0.8) {
	.#{$name}_btn {
		background-color: $color;
		color: $color_text;
		border: none !important;
		font-family: $font_medium;
	
		&:hover {
			background-color: $color_hover;
			color: $color_text_hover;
			opacity: $opacity_on_hover;
		}
	}
}
@mixin b_btn($name, $color, $color_text, $color_hover: $color, $color_text_hover: $color_text) {
	.#{$name}_b_btn {
		background-color: transparent !important;
		border: 1px solid $color;
		color: $color_text !important;
		font-family: $font_medium;
		
		&:hover {
			background-color: $color_hover !important;
			color: $color_text_hover !important;
			opacity: 1;
		}
	}
}


// styles
@mixin container_clear($width: 0, $margin: 0) {
	@if $margin > 0 {
		width: calc(#{$width} + #{$margin * 2});
		margin-left: -$margin;
	} @else if $width > 0 {
		width: $width;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		position: relative;
		clear: both;
	}
}
@mixin to_div() {
    display: block;
    width: 100%;

    > thead,
    > tbody,
    > tfoot,
    > div {
        display: block;
        width: 100%;

        > tr {
            display: block;
            width: 100%;

            > td {
                display: block;
                width: 100%;
            }
        }
    }
}
@mixin device_display() {
    &_hide {
        display: none !important;
    }
    &_inline {
        display: inline-block !important;
    }
    &_table {
        display: table !important;
    }
    &_row {
        display: table-row !important;
    }
    &_cell {
        display: table-cell !important;
    }
}
@mixin device_align() {
    &_left, &_left td {
        text-align: left;
    }
    &_center, &_center td {
        text-align: center;
    }
    &_right, &_right td {
        text-align: right;
    }
    &_justify, &_justify td {
        text-align: justify;
    }
}
@mixin device_valign() {
    &_top, &_top td {
        vertical-align: top;
    }
    &_middle, &_middle td {
        vertical-align: middle;
    }
    &_bottom, &_bottom td {
        vertical-align: bottom;
    }
}

@mixin nth_last_child($begin, $end) {
	@for $i from $begin through $end {
		&:nth-last-child(#{$i}) {
			@content;
		}
	}
}

@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}