.how_buy{padding-bottom:80px}.how_buy__container{width:calc(100% + 32px);margin-left:-16px;margin-right:-16px;display:flex;margin-top:60px;flex-wrap:wrap}.how_buy__element{margin-right:16px;margin-left:16px;margin-bottom:60px;display:flex;align-items:center;align-content:center;width:calc(33.3% - 32px)}.how_buy__element__icon{min-width:75px;min-height:75px;max-width:75px;max-height:75px;background-position:center;background-repeat:no-repeat;background-size:contain}.how_buy__element__text{margin-left:15px;font-size:15px;line-height:18px}
