.add_modules{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 51;
    align-content: flex-end;
    pointer-events: none;
    visibility: hidden;
    pointer-events: none;

    .ps-scrollbar-y-rail{
        display: none!important;
    }

    &__container{
        width: 100%;
        max-width: 1200px;
        min-height: 80vh;
        max-height: calc(100% - 5vh);
        padding: 38px 120px 49px;
        background-color: #F5F7FB;
        z-index: 100;
        border-radius: 20px 20px 0 0;
        position: relative;
        transition: all .25s;
        transition-delay: 0;
        transform: translate(0, 100%);

        @media(max-width: 1175px){
           padding: 38px 86px 49px;;
        }

        @include mobile{
            padding: 28px 24px;
            max-height: calc(100% - 5vh);
        }
    }

    &.menu{
        .add_modules__title{
            font-size: 32px;

            @media(max-width: 860px){
                font-size: 24px; 
                margin-bottom: 0;
            }
        }
    }

    &.active{   
        visibility: visible;
        pointer-events: unset;

        .add_modules__container{
            transform: translate(0, 0);
            transition-delay: .3s;
        }
        .add_modules__bg{
            background-color: rgba(0, 0, 0, 0.5);
            transition-delay: 0s;
        }
    }

    &__bg{
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.0);
        transition: all .3s;
        transition-delay: .3s;
    }

    &__cross{
        width: 28px;
        height: 28px;
        position: absolute;
        top: 28px;
        left: auto;
        right: 31px;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        background-repeat: no-repeat;
        background-image: url(./images/add_modules__cross.svg);

        @media(max-width: 860px){
            display: none;
        }
    }

    &__title{
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        color: #060D4E;

        @include mobile{
            font-size: 20px;
            margin-bottom: 8px;
        }
    }

    &__subtitle{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #35486B;
        margin-bottom: 42px;

        @include mobile{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;

            color: #35486B;
            margin-bottom: 28px;
        }
    }

    &__slider{
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        height: 235px;

       &:not(:last-child){
           margin-bottom: 59px;
       }


       @media(max-width: 826px){
           width: 100%;
           margin-left: 0;
           margin-right: 0;
       }
    }

    &__element{
        width: calc(25% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 14px;
        background-color: white;
        height: 100%;
        padding-bottom: 12px;

        @media(max-width: 826px){
            width: 210px;
        }

        @include mobile{
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    &__image{
        width: 100%;
        height: 180px;
        margin-bottom: 8px;
        background-position: center;
        background-size: cover;
        border-radius: 14px;
        background-repeat: no-repeat;
    }

    ul{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #35486B;
        padding: 0;
        margin: 0;
        margin-top: 52px;

        a{
            color: #35486B; 
        }

        li{
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            margin-bottom: 28px;

            &:before{
                content: '';
                position: relative;
                display: block;
                margin-right: 32px;
                border-radius: 50%;
                background-color: #DDDDE2;
                width: 36px;
                height: 36px;
                flex-shrink: 0;
            }

            &.active{
                &:before{
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url(./images/modules_menu_active.svg);
                }
            }

            @media(max-width: 860px){
                font-size: 16px;
                
                &:before{
                    width: 26px;
                    height: 26px;
                    margin-right: 12px;
                }
            }
        }

    }

    &__name{
        margin-left: 16px;
        margin-right: 16px;
        overflow: hidden;
        height: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #35486B;
        margin-bottom: 4px;
    }

    &__categories{
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
        color: rgba(53, 72, 107, 0.8);
    }

    &__arrow{
        width: 32px;
        height: 32px;
        position: absolute;
        top: 42%;
        border-radius: 50%;
        border: 1px solid #5F91ED;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        left: -52px;
        cursor: pointer;

        &:after{
            content: '';
            display: block;
            position: relative;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./images/add_modules_arrow.svg);
            width: 14px;
            height: 8px;
        }

        &.rotate{
            left: auto;
            right: -52px;
            transform: rotate(180deg);
        }
    }
}