.footer{
    position: relative;
    z-index: 10;
    background: #FFFFFF;
    height: 60px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(81, 92, 134, 0.16);
    display: flex;
    padding-left: 40px;
    align-items: center;
    align-content: center;

    &__company{
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #2F3039;
        opacity: 0.6;
    }
}