.form{
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    padding: 80px 80px;
    margin-bottom: 80px;
    margin-top: 10px;

 

    input[type="submit"]{
        width: 100%;
        height: 44px;
        background: #2B61C5;
        box-shadow: 0px 0px 10px rgba(38, 28, 75, 0.2);
        border-radius: 4px;
        border: 1px solid #2B61C5;
        color: white;
        font-size: 16px;
        line-height: 16px;
        margin-top: 34px;
        cursor: pointer;
    }

    .come_in{
        display: block;
        margin-top: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        /* or 18px */

        text-align: center;

        /* Text */

        color: #2F3039;
        opacity: 0.7;
        width: 100%;
        text-align: center;
    }

    &__text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #261C4B;
        opacity: 0.8;
    }

    &.registration{
        padding: 80px 141px;
        width: 100%;
        max-width: 682px;

        .form__title{
            margin-bottom: 20px;
        }

        @include tablet_small{
            padding: 50px;
        }
    
        @include mobile{
            margin-bottom: 0;
            margin-top: 0;
            border-radius: 0;
            padding: 26px;
        }
    }

    &.entry{
        max-width: 508px;
        width: 100%;
        padding: 80px;
        margin-bottom: 0;
        margin-top: 0;

        .form__title{
            margin-bottom: 32px;
        }

        .come_in{
            margin-top: 16px;
        }

        @include tablet_small{
            padding: 50px;
        }
    
        @include mobile{
            margin-bottom: 0;
            margin-top: 0;
            border-radius: 0;
            padding: 48px 26px;
        }

    }

    &.forgot{

        .form__label{
            margin-top: 20px;
        }

        .form__title{
            margin-bottom: 26px;
        }
    }

    &__info{
        width: 22px;
        height: 22px;
        position: relative;
        margin-top: 20px;
        margin-right: 14px;
        margin-left: 14px;


        &__icon{
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./images/form_param.svg);
        }

        &:hover{
            .form__info__hover{
                opacity: 1;
                visibility: visible;
            }
        }


        &__hover{
            position: absolute;
            width: 250px;
            height: 110px;
            padding: 10px;
            display: flex;
            padding-left: 38px;
            top: -21px;
            left: 21px;
            z-index: 20;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            background-image: url(./images/info_bg.svg);
            background-repeat: no-repeat;
            background-size: cover;
            transition: all .2s;
            opacity: 0;
            visibility: hidden;

            @media(max-width: 875px){
                background-image: url(./images/info_bg_mobile.svg);
                position: absolute;
                width: 250px;
                height: 110px;
                padding: 10px;
                display: flex;
                padding-left: 38px;
                top: 20px;
                padding-top: 15px;
                left: -180px;
                z-index: 20;
                align-items: center;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
            }
        }

        &__title{
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #100539;
        }

        &__list{
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            margin: 0;
            padding-left: 0;
            list-style: none;
            color: #100539;
        }
    }

    &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #060D4E;
    }

    &__switcher{
        width: 24px;
        height: 18px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 14px;
        cursor: pointer;
        margin-left: 14px;
        margin-top: 24px;
    
        background-image: url(./images/eye_text.svg);

        &.hidden{
            background-image: url(./images/eye_pass.svg);
        }
    }

    &__label{
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        display: flex;
        flex-wrap: wrap;
        color: #060D4E;
        margin-top: 24px;

        &__title{
            width: 100%;
        }


        input, select{
            margin-top: 8px;
            border: 1px solid #E3E5E8;
            flex: 1;
            box-sizing: border-box;
            border-radius: 4px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            background-color: white;
            height: 44px;
            line-height: 130%;
            padding-left: 16px;
            color: #060D4E;
            opacity: 1;
            width: 100%;

            &::placeholder{
                color: #2F3039;
                opacity: 0.4;
            }

            &:focus{
                outline: none;
            }
        
        }

    }

    &__more{
        margin-top: 28px;
        transition: all .3s;
       
        &:before{
            content: '';
            position: relative;
            width: calc(100% + 80px);
            margin-left: -40px;
            margin-right: -40px;
            display: block;
            background-color: #E3E5E8;
            height: 0;
            margin-bottom: 0;
            transition: all .3s;
        }

        &__container{
            max-height: 0;
            overflow: hidden;
            transition: all .3s;

            &.active{
                max-height: 483px;
            }
        }

        &__title{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 130%;
            color: #2F3039;
            opacity: 0.7;
            cursor: pointer;
            transition: all .3s;
            margin-top: 0;

            &:after{
                content: '+ Больше параметров';
                display: block;
                position: relative;
            }
        }

        &.active{
            margin-top: 52px;

            .form__more__title{
                margin-top: 28px;
                &:after{
                    content: '– Меньше параметров';
                }
            }

            &:before{
                height: 2px;
                margin-bottom: 24px;
            }

            @include mobile{
                &:before{
                    height: 1px;
                    margin-bottom: 24px;
                }
            }
        }
    }
}