.header{
    width: 100%;
    height: 104px;
    background: #1A48A7;
    box-shadow: 0px 0px 20px rgba(50, 69, 159, 0.4);
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 32px;
    justify-content: space-between;

    @include mobile{
        height: 60px;
        padding: 0 14px;
    }

    &.disabled{
        display: none;
    }

    &__logo{
        background-image: url(./images/logo_reg.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 46px;

        @include mobile{
            width: 32px;
            height: 36px;
        }
    }

    &__user{
        width: 44px;
        height: 44px; 
        background: rgba(255, 255, 255, 0.096);
        border-radius: 8px;
        background-size: contain;
        background-image: url(./images/user__reg.svg);
        background-position: center;
        background-repeat: no-repeat;

        @include mobile{
            width: 32px;
            height: 32px;
        }
    }
}