.main{
    position: relative;
    background-color: #F5F7FB;
    z-index: 9;
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 164px);
    padding-top: 140px;
    padding-bottom: 140px;
    overflow: hidden;

    @include tablet_small{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @include mobile{
        padding-top: 0;
        min-height: calc(100vh - 124px);
        padding-bottom: 0;
    }

    &.static{
        height: calc(100vh - 164px);
        overflow: hidden;
      
    }


    &.full{
        width: 100%;
        height: 100vh;
        padding: 0;
        overflow: hidden;
        margin: 0;
        justify-content: flex-start;
        min-height: auto;
    }
}