.music__mobile{
    width: 100%;
    position: fixed;
    top: auto;
    left: 0;
    bottom: 50px;
    z-index: 100;
    height: fit-content;
    background-color: white;
    transition: all .3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s;
    display: none;

    @include mobile{
        display: block;
    }

    &.disabled{
        display: none;
    }

    &.active{
        border-radius: 20px 20px 0 0;
       .music__mobile__container{
           max-height: 355px;
       } 
       .music__mobile__title__name, .music__mobile__title__subname{
           visibility: hidden; 
       }
       .music__mobile__title__arrow{
           transform: rotate(180deg);
           opacity: 0.4;
           width: 15px;
           pointer-events: unset;
           height: 15px;
       }
       .music__mobile__title__exit{
           visibility: visible;
           width: 15px;
           height: 15px;
           pointer-events: unset;
       }
    }

    &__bg{
        width: 100%;
        position: absolute;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.0);
        transition: all .3s;
        transition-delay: .3s;

        &.active{
            background-color: rgba(0, 0, 0, 0.5);
            transition-delay: 0s;
            z-index: 99;
        }
    }

    &__title{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        padding: 4px 20px;
        align-items: center;
        cursor: pointer;
        align-content: center;

        &__arrow{
            width: 13px;
            height: 6px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./images/music__mobile__arrow.svg);
            margin-right: 15px;
            transition: all .3s;
            pointer-events: none;
        }

        &__exit{
            width: 13px;
            height: 6px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./images/music_mobile__exit.svg);
            margin-left: 15px;
            visibility: hidden;
            pointer-events: none;
        }

        &__name{
            width: 100%;
            display: flex;
            overflow: hidden;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #060D4E;
        }

        &__subname{
            width: 100%;
            display: flex;
            overflow: hidden;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: center;
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 17px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #060D4E;
        }

        &__text{
            flex: 1;
        }
    }

    &__container{
        padding-left: 32px;
        padding-right: 32px;
        transition: all .3s;
        max-height: 0;
    }

    &__logo{
        width: 200px;
        height: 200px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto 24px;
    }

    &__name{
        width: 100%;
        display: flex;
        overflow: hidden;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #060D4E;
    }

    &__subname{
        width: 100%;
        display: flex;
        overflow: hidden;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #060D4E;
    }

    &__count{
        width: 100%;
        position: relative;
        margin-bottom: 10px;

        &__full{
            width: 100%;
            background: #261C4B;
            opacity: 0.2;
            height: 3px;
            border-radius: 2px;
        }

        &__now{
            width: 50%;
            position: relative;
            bottom: 3px;
            background: #261C4B;
            height: 3px;
            border-radius: 2px;
        }
    }

    &__time{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        display: flex;
        margin-bottom: 18px;

        &__element{
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            color: #060D4E;
        }
    }

    &__control{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        margin-bottom: 40px;
    }

    &__arrow{
        width: 24px;
        height: 14px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./images/mobile_small_control.svg);
        margin-right: 18px;
        flex-shrink: 0;
        cursor: pointer;

        &.rotate{
            transform: rotate(180deg);
            margin-right: 0;
            margin-left: 18px;
        }
    }

    &__play{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-position: center;
        background-size: contain;
        background-image: url(./images/music_mobile__play.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }

}