.page{
    display: flex;
    flex: 1 1;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    position: relative;
    max-width: calc(100% - 104px);

    @media(max-width: 805px){
        max-width: 100%;
    }

    &__menu{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-self: flex-start;
        padding-left: 32px;
        margin-top: 20px;
        z-index: 40;
        padding-right: 24px;

        @include mobile{
            margin-top: 15px;
            margin-bottom: -17px;
            padding-left: 20px;
            padding-right: 20px;
        }

      

        &__left{
            display: flex;

            @include mobile{
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
                border-radius: 20px;
                background-color: white;
                z-index: 20;
            }
            & span{
                @include mobile{
                    display: none;
                }
            }
        }

        &__element{
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            cursor: pointer;
            line-height: 22px;
            text-align: center;
            color: rgba(6, 13, 78, 0.5);
            position: relative;
            opacity: 1;

            &.active{
                color: rgba(6, 13, 78, 0.986);
                &:after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: #060D4E;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            &:not(:last-child){
                margin-right: 71px;
            }

            @include mobile{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                width: 34px;
                height: 34px;
                cursor: pointer;
                border-radius: 20px;

                &:not(:last-child){
                    margin-right: 0;
                }

                &.active{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
                    border-radius: 20px;

                    &:after{
                        content: none;
                    }
                }

                &__icon{
                    width: 14px;
                    height: 14px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                  
                }
            }
        }

        &__back{
            font-size: 18px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0px 0px 4px rgba(0,0,0,0.14);
            border-radius: 17px;
            padding-left: 20px;
            padding-right: 20px;
            position: relative;
            top: 10px;
            cursor: pointer;
            color: #060D4E;

            @include mobile{
                top: 0;
                padding-left: 14px;
                padding-right: 14px;
                font-size: 14px;
            }
        }
    }

    &__fixed{
        width: calc(100% - 104px);
        right: 0;
        left: auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 8px 48px 6px 32px;
        align-items: center;
        position: fixed;
        top: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        align-content: center;
        transition:  all .3s;
        z-index: 40;

        &.active{
            opacity: 1;
            overflow: visible;
            pointer-events: unset;
        }

        @media(max-width: 805px){
            width: 100%;
        }

        @include mobile{
            padding-left: 22px;
            padding-right: 0;
        }

        &__scroll{
            position: absolute;
            top: auto;
            bottom: -4px;
            width: 50%;
            left: 0;
            height: 4px;
            background-color: #261C4B;;
        }

        &__menu{
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(./images/page_fixed_menu.svg);
            width: 52px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0);
            border-radius: 17px;
            height: 46px;
            margin-right: 26px;
            transition: all .3s;
            cursor: pointer;

            &:hover{
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            }

            @include mobile{
                height: 34px;
                margin-right: 10px;
                width: 38px;
            }
        }

        &__right{
            padding: 7px 27px;
            border-radius: 17px;
            transition: all .3s;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0);
            cursor: pointer;

            &:hover{
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            }

        }

        &__left{
            display: flex;
            align-items: center;
            align-content: center;
        }

        &__divide{
            display: flex;
            align-items: center;
            align-content: center;
            width: fit-content;
            transition: all .3s;
            border-radius: 20px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0);
        }

        &__element{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 34px;
            height: 34px;
            cursor: pointer;
            border-radius: 20px;

            &:not(:last-child){
                margin-right: 4px;
            }

            &.active{
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
            }

            &__icon{
                width: 14px;
                height: 14px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

                
    }


    @media(max-width: 805px){
        height: calc(100% - 50px);
        align-self: flex-start;
        z-index: 30;
        overflow: hidden;
    }
}