.side_menu{
    height: 100%;
    padding: 26px 32px 52px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 31;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);

    @media(max-width: 805px){
        position: fixed;
        width: 100%;
        height: 50px;
        flex-direction: row;
        padding: 0 19px;
        top: auto;
        bottom: 0;
    }
    
    &__logo{
        width: 40px;
        height: 46px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./images/side_logo.svg);
        margin-bottom: 10vh;

        @media(max-width: 805px){
            display: none;
        }
    }

    &__nav{
        flex: 1;

        @media(max-width: 805px){
            display: flex;
            justify-content: space-between;
        }
    }

    &__element{
        width: 28px;
        height: 28px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;

        &:not(:first-child){
            margin-top: 6vh;
        }

        @media(max-width: 805px){

            &:not(:first-child){
                margin-top: 0;
            }
        }
    }

    &__avatar{
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;

        @media(max-width: 805px){
            margin-left: 12.75vw;
        }
    }

    
}