.skills{
    position: relative;
    width: 100%;
    max-width: 1180px;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    @media(max-width: 1285px){
        max-width: 1020px; 
    }

    @media(max-width: 1045px){
        max-width: 700px;
    }

    @media(max-width: 682px){
        max-width: 460px;
    }

    @include mobile_middle{
        max-width: 320px;
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px;
        height: fit-content;
        max-height: 100%;
        position: relative;
        overflow: hidden;
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 70px;

        .ps-scrollbar-y-rail{
            display: none!important;
        }

        @include mobile_middle{
            padding-top: 60px;
        }

    }

    &__edit{
        position: absolute;
        width: 64px;
        height: 64px;
        background-color: white;
        border-radius: 50%;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        top: 60px;
        cursor: pointer;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        color: #5F91ED;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);

        &:after{
            content: 'Ред.';
            display: block;
            position: relative;
        }


        &.active{
            &:after{
                content: '';
                width: 26px;
                height: 26px;
                margin-bottom: 5px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(./images/skills_edit.svg);
            }
        }

        @include mobile_middle{

            width: 48px;
            height: 48px;
            font-size: 14px;
            top: 16px;
            right: 18px;
        }
    }

    &__element{
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        background-repeat: no-repeat;
        visibility: hidden;
        background-image: url(./images/skills_plus.svg);
        transition: all .3s;
        opacity: 0;
        pointer-events: none;

        &__hover{
            position: absolute;
            width: 160px;
            height: 80px;
            top: -66px;
            right: -117px;
            background-position: center;
            z-index: 50;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 8px 12px;
            background-image: url(./images/skills_hover.svg);
            transition: all .3s;
            opacity: 0;
            pointer-events: none;
            overflow: hidden;

            @include tablet{
                display: none;
            }
        }

        &__cross{
            width: 30px;
            height: 30px;
            background-position: center;
            background-size: 185%;
            background-repeat: no-repeat;
            position: absolute;
            background-image: url(./images/skills_cross.svg);
            top: 0px;
            right: 14px;
            visibility: hidden;
            z-index: 51;
            opacity: 0;
            pointer-events: none;
            transition: all .3s;

        }

        &__icon{
            display: none;
            width: 54px;
            height: 54px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__text{
            width: 138px;
            height: 42px;
            margin-bottom: 6.5px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #060D4E;
        }

        &__count{
            font-style: normal;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            color: #060D4E;
            font-weight: 300;
            margin-left: 30px;
        }

        &__checked{
            width: 19px;
            height: 19px;
            border-radius: 50%;
            border: 1px solid #261C4B;
            position: relative;
            bottom: 3px;
    

            &:after{
                width: 9.15px;
                height: 9.15px;
                content: '';
                display: block;
                top: 4px;
                left: 4px;
                position: absolute;
                background-repeat: no-repeat;
                background-image: url(./images/skill_hover_cross.svg);
                background-position: center;
                background-size: contain;
            }
        }

        &.show{
            visibility: visible;
            opacity: 1;
            pointer-events: unset;
        }

        &.active{
            background-image: url(./images/skills_element.svg);
            background-size: 108%;
            visibility: visible;
            opacity: 1;
            pointer-events: unset;

            &.show{
                .skills__element__cross{
                    visibility: visible;
                    opacity: 1;
                    pointer-events: unset;
                }
            }

            .skills__element__icon{
                display: block;
            }

        
            &:hover{
                .skills__element__hover{
                    opacity: 1;
                    overflow: visible;
                    pointer-events: unset;
                }
            }

            
        }

        &.unfinished{
            .skills__element__icon{
                filter: grayscale(1);
            }
        }
      
        &.big{
            margin-left: calc(50% - 55px);
            margin-right: calc(50% - 55px);
        }


        &:nth-child(2){
            margin-left: 110px;
        }

        &:nth-child(9){
            margin-right: 110px;
        }

        &:nth-child(10){
            margin-left: 55px;
        }

        &:nth-child(18){
            margin-right: 55px;
        }

        @media(max-width: 1285px){

            &:nth-child(9){
                margin-right: 10px;
            }
    
            &:nth-child(10){
                margin-left: 10px;
            }
    
            &:nth-child(18){
                margin-right: 10px;
            }

            &:nth-child(7){
                margin-right: 110px;
            }
    
            &:nth-child(8){
                margin-left: 55px;
            }
    
            &:nth-child(14){
                margin-right: 55px;
            }

            &:nth-child(23){
                margin-left: 55px;
            }

            &:nth-child(29){
                margin-right: 55px;
            }
            
        }

        @media(max-width: 1045px){

            margin-left: 8px;
            margin-right: 8px;

            &:nth-child(7){
                margin-right: 8px;
            }
    
            &:nth-child(8){
                margin-left: 8px;
            }
    
            &:nth-child(14){
                margin-right: 8px;
            }

            &:nth-child(23){
                margin-left: 8px;
            }

            &:nth-child(29){
                margin-right: 8px;
            }

            &:nth-child(5){
                margin-right: 110px;
            }

            &:nth-child(6){
                margin-left: 55px;
            }

            &:nth-child(10){
                margin-right: 55px;
            }

            &:nth-child(17){
                margin-left: 55px;
            }

            &:nth-child(21){
                margin-right: 55px;
            }

            &:nth-child(28){
                margin-left: 55px;
            }

            &:nth-child(32){
                margin-right: 55px;
            }

            &:nth-child(33){
                margin-left: 110px;
            }

            &:nth-child(36){
                margin-right: 110px;
            }
        }

        @media(max-width: 682px){
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: -5px;

            &:nth-child(5){
                margin-right: 5px;
            }

            &:nth-child(6){
                margin-left: 5px;
            }

            &:nth-child(10){
                margin-right: 5px;
            }

            &:nth-child(17){
                margin-left: 5px;
            }

            &:nth-child(21){
                margin-right: 5px;
            }

            &:nth-child(28){
                margin-left: 5px;
            }

            &:nth-child(32){
                margin-right: 5px;
            }

            &:nth-child(33){
                margin-left: 5px;
            }

            &:nth-child(36){
                margin-right: 5px;
            }

            &:nth-child(3){
                margin-right: 110px;
            }

            &:nth-child(4){
                margin-left: 55px;
            }

            &:nth-child(6){
                margin-right: 55px;
            }

            &:nth-child(11){
                margin-left: 55px;
            }

            &:nth-child(13){
                margin-right: 55px;
            }

            &:nth-child(18){
                margin-left: 55px;
            }

            &:nth-child(20){
                margin-right: 55px;
            }

            &:nth-child(25){
                margin-left: 55px;
            }

            &:nth-child(27){
                margin-right: 55px;
            }

            &:nth-child(32){
                margin-left: 55px;
            }

            &:nth-child(34){
                margin-right: 55px;
            }

            &:nth-child(35){
                margin-left: 110px;
            }

            &:nth-child(36){
                margin-right: 110px;
            }
        }

        @include mobile_middle{

            &:nth-child(4){
                margin-left: 5px;
            }

            &:nth-child(9){
                margin-right: 5px;
            }

            &:nth-child(6){
                margin-right: 5px;
            }

            &:nth-child(11){
                margin-left: 5px;
            }

            &:nth-child(13){
                margin-right: 5px;
            }

            &:nth-child(18){
                margin-left: 5px;
            }

            &:nth-child(20){
                margin-right: 5px;
            }

            &:nth-child(25){
                margin-left: 5px;
            }

            &:nth-child(27){
                margin-right: 5px;
            }

            &:nth-child(32){
                margin-left: 5px;
            }

            &:nth-child(34){
                margin-right: 5px;
            }

            &:nth-child(35){
                margin-left: 5px;
            }

            &:nth-child(36){
                margin-right: 5px;
            }

            &:nth-child(2){
                margin-left: 55px;
            }

            &:nth-child(3){
                margin-right: 55px;
            }

            &:nth-child(7){
                margin-left: 55px;
            }

            &:nth-child(8){
                margin-right: 55px;
            }

            &:nth-child(7){
                margin-left: 55px;
            }

            &:nth-child(8){
                margin-right: 55px;
            }

            &:nth-child(12){
                margin-left: 55px;
            }

            &:nth-child(13){
                margin-right: 55px;
            }

            &:nth-child(17){
                margin-left: 55px;
            }

            &:nth-child(18){
                margin-right: 55px;
            }

            &:nth-child(22){
                margin-left: 55px;
            }

            &:nth-child(23){
                margin-right: 55px;
            }

            &:nth-child(27){
                margin-left: 55px;
            }

            &:nth-child(28){
                margin-right: 55px;
            }

            &:nth-child(32){
                margin-left: 55px;
            }

            &:nth-child(33){
                margin-right: 55px;
            }

            &:nth-child(37){
                margin-left: 55px;
            }

            &:nth-child(38){
                margin-right: 55px;
            }

        }
    }
}