.text{
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

    @include mobile{
        padding-left: 20px;
    }

    &__content{
        width: 100%;
    }

    &__image{
        width: 100%;
        height: 438px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;

        @include tablet_small{
            height: 250px;
        }
    }

    &__title{
        background: #FFFFFF;
        border-radius: 12px;
        width: 100%;
        max-width: 680px;
        margin: 0 auto 0;
        transform: translateY(-50%);
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        color: #060D4E;

        @include tablet{
            max-width: 561px;
        }

        @include tablet_small{
            font-size: 24px;
            line-height: 32px;
            max-width: 400px;
        }

        @include mobile{
            transform: translateY(0);
            margin-top: 32px;
            margin: 10px auto 0;
            margin-bottom: 5px;
        }

        &__text{
            width: 100%;
            height: 100%;
            border-radius: 12px;
            padding: 22px 40px;
            z-index: 20;
            background-color: white;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

            @include mobile{
                box-shadow: none;
                padding-left: 0;
                font-size: 20px;
                line-height: 24px;
                padding-right: 0;
            }
        }

        &__menu{
            position: absolute;
            z-index: 19;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 0 12px 12px 0;
            width: 70px;
            height: 52px;
            left: calc(100% - 20px);
            top: calc(50% - 26px);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            padding-right: 16px;
            cursor: pointer;
            transition: all .3s;

            &:after{
                content: '';
                width: 22px;
                height: 18px;
                display: block;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(./images/text_menu.svg);
            }

            &:hover{
                left: calc(100% - 10px);
            }

            @include mobile{
                background: #FFFFFF;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
                border-radius: 12px;
                width: 30px;
                height: 30px;
                padding-right: 0;
                left: calc(100% - 45px);
                justify-content: center;
                top: -26px;
                z-index: 21;

                &:after{
                    width: 14px;
                    height: 11px;
                }

                &:hover{
                    left: calc(100% - 45px);
                }
            }
        } 
    }

    &__container{
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 0;
    }

    &__info{
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #030303;
        width: 100%;
        margin-bottom: 30px;

        @include tablet_small{
            font-size: 20px;
        }

        @include mobile{
            font-size: 16px;
        }
    }

    &__subtitle{
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        color: #030303;
        margin-top: 80px;
        margin-bottom: 40px;

        @include tablet_small{
            margin-top: 50px;
            font-size: 30px;
            margin-bottom: 20px;
        }

        @include mobile{
            font-weight: 600;
            font-size: 20px;
            margin-top: 40px;
            margin-bottom: 16px;
            line-height: 24px;
        }
    }

    &__img{
        max-width: 580px;
        height: auto;
        margin: 60px auto 8px;
        display: block;
        width: 100%;

        @include mobile{
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
            border-radius: 0;
            margin-top: 32px;
        }
      
    }
    &__describtion{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        margin: 0 auto 68px;
        width: 100%;
        max-width: 660px;
        text-align: center;
        color: #666666;

        @include mobile{
            margin-bottom: 32px;
            font-size: 14px;
            text-align: left;
            line-height: 140%;
        }
    }

    &__slider{
        width: 100%;
        height: 620px;
        position: relative;
        z-index: 19;

        @include tablet_small{
            height: 300px;
        }

        @include mobile{
            height: 208px;
        }

        &__container{
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 60px;

            @include mobile{
                width: calc(100% + 40px);
                margin-left: -20px;
                margin-right: -20px;
                height: 208px;
                margin-top: 32px;
                margin-bottom: 50px;
            }
        }

        &__navigation{
            position: absolute;
            top: auto;
            bottom: 48px;
            padding: 30px;
            opacity: 0.4;
            display: flex;
            z-index: 20;
            justify-content: space-between;
            transition: all .3s;

            &:hover{
                opacity: 1;
            }

            @include mobile{
                padding: 0;
                bottom: -27px;
                opacity: 1;
                
                .slick-dots li button:before{
                    opacity: 0.5;
                }
            }

        }

        &__element{
            height: 620px!important;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 12px;


            @include tablet_small{
                height: 300px!important;
            }

            @include mobile{
                height: 208px!important;
                border-radius: 0;
            }
        }


        &__arrow{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            background-image: url(./images/text__sldier__arrow.svg);
            margin-right: 50px;

            &.rotate{
                transform: rotate(180deg);
                margin-right: 0;
                margin-left: 50px;
            }
        }

        &__dots{
            padding: 6px 16px 6px;
            border-radius: 20px;
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            background-color: white;

            .slick-dots{
                position: relative;
                bottom: auto;

                li button:before{
                    font-size: 9px;
                }
            }

            @include mobile{
                padding: 0;
            }
        }
    }

    &__btn{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        padding: 16px;
        border: 1px solid #35486B;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: white;
        color: #100539;
        width: 192px;
        cursor: pointer;
        transition: all .3s;



        &:hover{
            color: white;
            background-color: #261C4B;
        }

        &__container{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 60px;

            @include mobile{
                margin-top: 40px;
            }
        }

        &:first-child{
            margin-right: 72px;
        }

        @include mobile{
            font-size: 16px;
            padding: 4px;
            line-height: 32px; 
            width: 110px;

            &:first-child{
                margin-right: 32px;
            }
        }

        &.dark{
            color: white;
            background-color: #261C4B;

            &:hover{
                color: #100539;
                background-color: white;
            }

        }
    }
}