.music{
    width: 100%;
    height: calc(100% - 48px - 31px);
    margin: 48px 41px 32px;
    background-color: white;
    border-radius: 20px;
    padding: 56px 60px 20px 116px;
    z-index: 1;

    @include tablet_small{
        padding: 0;
        height: calc(100% - 48px - 149px);
        margin-bottom: 149px;
    }

    @include mobile{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 33px 20px;
        padding-bottom: 10px;
        background-color: white;
    }

    .page__menu{
        position: absolute;
        top: 0;
        width: calc(100% - 102px);
        left: 48px;

        @include mobile{
            padding-left: 0;
            padding-right: 0;
        }
    }


    &__logo{
        width: 40px;
        height: 40px;
        margin-right: 18px;
        background-position: center;
        background-size: cover;
        flex-shrink: 0;
        background-repeat: no-repeat;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
        border-radius: 4px;

        @media(max-width: 1205px){
            display: none;
        }

        @include tablet_small{
            display: block;
        }

        @include mobile{
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

    }

    &__equalizer{
        width: 158px;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-left: 6.5%;

        &__element{
            width: 2px;
            height: 2px;
            margin-right: 2px;
            background: #261C4B;
            opacity: 0.2;
            border-radius: 2px;
            flex-shrink: 0;
            height: 30px;
        }

        @media(max-width: 1205px){
            flex: 1;
            justify-content: flex-end;
            margin-right: 30px;
        }

        @include tablet_small{
            display: none;
        }

    }

    &__menu{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: all .3s;
        margin-left: auto;
        cursor: pointer;
        margin-right: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;


        &:hover{
            background-color: #F5F7FB;;
        }

        &:after{
            content: '. . .';
            display: block;
            position: relative;
            height: 32px;
            margin-right: 2px;
            font-size: 25px;
            letter-spacing: -3px;
        }

        &__exit{
            background-image: url(./images/music_cross.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 14px;
            right: 14px;
        }

        &__popup{
            position: absolute;
            width: 260px;
            background-color: white;
            z-index: 30;
            height: 142px;
            padding: 14px 0 14px 22px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
            border-radius: 4px;
            right: 200px;
            right: 0;
            top: -93px;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: all .3s;

            &__title{
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                color: #060D4E;
                margin-bottom: 10px;
                
            }

            &__text{

                font-size: 12px;
                line-height: 15px;
                max-width: 225px;
                color: #060D4E;
            }

            ul{
                padding: 0;
                margin: 0;
                list-style: none;

                li{
                    cursor: pointer;
                    font-size: 12px;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        &.active{
            .music__menu__popup{
                opacity: 1;
                visibility: visible;
                pointer-events: unset;
            }
        }

        @include tablet_small{
            display: none;
        }
    }

    &__name{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        width: 28%;
        height: fit-content;
        color: #060D4E;
        margin-right: 11%;

        @media(max-width: 1205px){
            width: 40%;
            margin-right: 3%;
        }

        @include mobile{
            order: 1;
            text-align: left;
            width: 100%;
            font-size: 14px;
        }
    }

    &__time{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #060D4E;
        width: 14%;

        span:first-child{
            display: none;
        }
        @media(max-width: 1205px){
            justify-content: flex-start;
            width: 40%;
        }
        @include tablet_small{
            flex: 1;
            justify-content: flex-end;
        }

        @include mobile{
            display: none;;
        }
    }

    &__element{
        width: 100%;
        padding: 10px 17px 10px 14px;
        display: flex;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        margin-bottom: 12px;
        align-items: center;
        align-content: center;

        &__container{
            flex: 1;
            display: flex;
            align-items: center;
            align-content: center;

            @media(max-width: 1205px){
                flex-wrap: wrap;
            }
    

        }

        &.active{
            .music__time{
                span:first-child{
                    display: block;
                    margin-right: 4px;
                }
            }
        }

        @media(max-width: 1205px){
            flex-wrap: wrap;
        }

        @include tablet_small{
           height: fit-content;
           padding: 0;
           box-shadow: none;
           margin-bottom: 23px;
           padding-left: 17px;
           padding-right: 18px;
        }
    }

    &__check{
        width: 86px;
        font-style: normal;
        font-weight: 500;
        position: relative;
        font-size: 14px;
        line-height: 17px;
        align-content: center;

        &:after{
            content: 'Не изучено';
            width: 100%;
            color: #DDDDE2;
            position: relative;
        }

        &.learned{
            &:after{
                content: 'Изучено';
                width: 100%;
                position: relative;
                color: #5AB382;
                opacity: 0.9;
            }
        }

        @media(max-width: 1205px){
            width: 35%;
            margin-left: auto;;
            text-align: right;
        }

        @include tablet_small{
            flex: 1;
            width: auto;
        }

        @include mobile{
            width: 100%;
            flex: unset;
            text-align: left;
            margin-bottom: 4px;
            order: 0;
        }
   
    }

    &__picture{
        width: 100%;
        height: 43%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        position: relative;
        
        @include tablet_small{
            flex-wrap: wrap;
            height: fit-content;
        }

        &__title{
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 73px;
            display: flex;
            align-items: center;
            color: #060D4E;
            width: 100%;
            z-index: 21;
            text-align: left;
            position: relative;
            max-width: 540px;
            margin-bottom: 100px;

            @include tablet_small{
                order: 1;
                text-align: center;
                font-weight: 600;
                font-size: 30px;
                line-height: 39px;
                max-width: 291px;
                color: #060D4E;
                justify-content: center;
                margin: 25px auto 27px;    
            }

            @include mobile{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #060D4E;
                margin: 30px auto 15px;
            }

      
        }

        &__play{
            position: absolute;
            left: 0;
            bottom: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url(./images/music__play.svg);
            border-radius: 50%;
            width: 60px;
            height: 60px;
            z-index: 30;

            @include tablet_small{
                top: 271px;
                left: 20px;
            }

            @include mobile{
                top: 178px;
                width: 40px;
                height: 40px;
                left: 20px; 
            }
        }

        &__img{
            width: 100%;
            max-width: 800px;
            height: 100%;
            position: absolute;
            background-position: left;
            background-repeat: no-repeat;
            right: 0;
            z-index: 20;
            border-radius: 0 10px 10px 0;
            background-size: cover;

            &:after{
                content: '';
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                left: 0;
                background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }


            @include tablet_small{
                order: 0;
                position: relative;
                width: 100%;
                border-radius: 20px;
                height: 302px;
                &:after{
                    content: none;
                }
            }
            @include mobile{
                height: 200px;
            }
        }
    }
    &__playlist{
        width: 100%;
        margin-top: 100px;
        max-height: 45%;

        @include tablet_small{
            margin-top: 6px;
            max-height: 36%;
        }

        @include mobile{
            max-height: calc(100% - 300px);
        }
    }
}