.yandex{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;

    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 80px;
        line-height: 98px;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        color: #000000;
        width: 100%;
        max-width: 1100px;
    }

    &_subtitle{
        max-width: 574px;
        display: block;
        width: 100%;
        margin: 26px auto 0;
    }

    .second_slide, .second_slide_2, .third_slide_3{
        display: none;

        &.active{
            display: block;
        }
    }

    
    @keyframes slidein {
        from {
            transform: rotate(0);
        }
    
        to {
            transform: rotate(360deg);
        }
    }
    .btn_back{
        width: 186px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: white;
        background: #000000;
        border-radius: 14px;
        margin-top: 60px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF
    }

    &__container{
        width: 100%;
        max-width: 920px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
        border-radius: 20px;
   
    }

    &__tabs{
        padding-left: 60px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        cursor: pointer;
        border-bottom: 1px solid #EDEDED;

        &__element{
            padding: 21px 10px;
            position: relative;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            opacity: 0.4;
            transition: all .3s;

            &:first-child{
                margin-right: 50px;
            }

            &:hover{
                opacity: 0.8;
            } 

            &:after{
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 0;
                background-color: #000000;;
                transition: all .3s;
            }

            &.active{
                opacity: 1;
                &:after{
                    height: 4px;
                }
            } 
        }
    }

    &__first_tab{
        width: 100%;
    }
    .textarea__tab_1{
        width: 600px;
        height: 735px;
        border: 2px solid #D9D9D9;
        box-sizing: border-box;
        border-radius: 14px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 22px 28px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        display: block;
        color: #000000;
    }
    .third_slide{
        display: none;

        &.active{
            display: block;
        }
    }

    &__load{
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(./images/yandex_load.svg);
        animation-duration: 2s;
        animation-name: slidein;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &__container{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 80px;
        }
    }

    &__content{
        padding: 32px 80px;
        display: none;

        &.active{
            display: block;
        }

        form{
            min-height: 401px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
        }

        input[type="submit"]:disabled{
            width: 186px;
            height: 48px;
            background: #000000;
            opacity: 0.2;
            border: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            border-radius: 14px;
        }
        input[type="submit"]{
            width: 186px;
            height: 48px;
            background: #000000;
            opacity: 1;
            border: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            border-radius: 14px;
            margin-top: 50px;
            margin-right: 40px;
        }
    }

    [data-tab="1"], [data-tab="2"]{
        form{
            &.disabled{
                display: none;
            }
        }
    }
  

    &__describtion{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        color: #000000;
    }

    &__file{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: inline-block;
        align-items: center;
        text-align: center;
        color: #000000;
        opacity: 0.8;
        padding: 11px 54px 11px 28px;
        background: #FFFFFF;
        border: 1px solid #EDEDED;
        box-sizing: border-box;
        border-radius: 14px;
        position: relative;
       
        div{
            &.add{
                cursor: pointer;
            }
        }

     

        span{
            display: block;
            position: absolute;
            right: 28px;
            width: 14px;
            font-size: 16px;
            line-height: 16px;
            height: 14px;
            top: calc(50% - 6px);
            z-index: 100;

            &.delete{
                background-position: center;
                z-index: 100;
                background-size: contain;
                cursor: pointer;
                background-repeat: no-repeat;
                background-image: url(./images/yandex_cross.svg);
            }

            &.dowload{
                width: 20px;
                height: 18px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(./images/dowload.svg);
            }
        }

        &__label{
            width: 100%;
            display: flex;

            input{
                width: 0;
                height: 0;
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}